<div class="card p-5 col-12 rounded-0">
    <div class="card-body p-5">
      <h3 class="card-title">Contact</h3>
      <p class="card-text">With supporting text below as a natural lead-in to additional content
        With supporting text below as a natural lead-in to additional content
        With supporting text below as a natural lead-in to additional content.</p>
    </div>
    <form class="w-75 bg-light border p-5 mx-auto col-12">
        <div class="row mb-3">
          <label for="inputEmail3" class="col-2 col-form-label"> <strong> Your Email</strong></label>
          <div class="col-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Your Email">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword3" class="col-2 col-form-label"><strong>Your Message</strong></label>
          <div class="col-10">
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Write your message here..." rows="3"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary float-end">Submit</button>
      </form>

  </div>