<div class="card px-5 pt-5 rounded-0 border-0">
  <div class="row g-0 m-5">
    <div class="col-9">
      <div class="card-body border-top pt-5 ps-0">
        <div class="d-flex pt-5">
          <h1 class="card-title">This First Heading</h1>
          <h1 class="card-title text-success ps-1"> Will Catch Your Eye</h1>
        </div>
        <p class="card-text fs-5 text-secondary">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.
          This is a wider card with supporting text below as a natural lead-in to additional content. This content is a
          little bit longer.
          This is a wider card with supporting text below as a natural lead-in to additional content. This content is a
          little bit longer.
        </p>
      </div>
    </div>
    <div class="col-3 border-top pt-5">
      <img src="/website/assets/img/1.jpg" class="rounded-circle ms-4 img-fluid" style="width: 250px;">
    </div>
  </div>
</div>