<!-- your html code here -->
<div class="card px-5 border-0 rounded-0 ">
  <div class="card-title px-5 pb-3">
    <h1 class="card-title col-12 pt-5 border-top">Portfolio</h1>
    <p class="card-text col-12 fs-5 text-secondary">This is a wider card with supporting text below as a natural lead-in to additional
      content. This content is a little bit longer.
      This is a wider card with supporting text below as a natural lead-in to additional content. This content is a
      little bit longer.
      This is a wider card with supporting text below as a natural lead-in to additional content. This content is a
      little bit longer.
    </p>
  </div>

  <div class="card-group border-0">
    <div class="card col-3 border-0 rounded-0 ps-5 pe-2">
      <img src="/website/assets/img/3.jpg" class="card-img-top img-fluid">
      <div class="card-body px-0">
        <h4 class="card-title text-primary">Project Name</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </div>
    </div>

    <div class="card col-3 border-0 rounded-0 px-2">
      <img src="/website/assets/img/3.jpg" class="card-img-top img-fluid">
      <div class="card-body px-0">
        <h4 class="card-title text-primary">Project Name</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>

    <div class="card col-3 ps-2 pe-5 border-0 rounded-0">
      <img src="/website/assets/img/3.jpg" class="card-img-top img-fluid">
      <div class="card-body px-0">
        <h4 class="card-title text-primary">Project Name</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
          content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>
</div>