<!-- your html code here -->
<div class="card px-5 border-0 rounded-0 ">
  <div class="card-title px-5 pb-2">
      <h3 class="card-title col-12 pt-5 border-top">Portfolio</h3>
      <p class="card-text col-12">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      </p>
  </div>
</div>
<div class="card-group border-0">
  <div class="card col-3 border-0 rounded-0 ps-5">
    <img src="/website/assets/img/3.jpg" class="card-img-top" style="width: 350px; height: 200px;">
    <div class="card-body">
      <h5 class="card-title text-primary">Project Name</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>

  <div class="card col-3 border-0 rounded-0">
    <img src="/website/assets/img/3.jpg" class="card-img-top" style="width: 350px; height: 200px;">
    <div class="card-body">
      <h5 class="card-title text-primary">Project Name</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>

  <div class="card pe-5 col-3 border-0 rounded-0">
    <img src="/website/assets/img/3.jpg" class="card-img-top" style="width: 350px; height: 200px;">
    <div class="card-body">
      <h5 class="card-title text-primary">Project Name</h5>
      <p class="card-text me-5">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
  </div>
