<div class="card p-5 rounded-0 border-0">
    <div class="row g-0 m-5">
        <div class="col-3 border-top pt-5">
            <img src="/website/assets/img/2.jpg" class="rounded-circle img-fluid" style="width: 250px;">
        </div>
        <div class="col-9">
            <div class="card-body border-top pt-5">
                <div class="d-flex pt-5">
                    <h1>
                        The Second Heading
                        <small class="text-success fs-1">Is Pretty Cool Too</small>
                      </h1>
                </div>
                <p class="card-text fs-5 text-secondary">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.
                    This is a wider card with supporting text below as a natural lead-in to additional content. This
                    content is a little bit longer.
                    This is a wider card with supporting text below as a natural lead-in to additional content. This
                    content is a little bit longer.
                </p>
            </div>
        </div>
    </div>
</div>