<div class="row">
    <div class="col-9 w-100">
        <div class="py-5 text-center w-100"
            style="background-image: url(assets/img/bg.jpg); background-position: bottom; background-size: cover;">
            <div class="py-5 mb-5 px-3">
                <h1 class="display-6 fw-bold bg-white opacity-75 mt-5" style="font-size: 120px;">One Page Wonder</h1>
                <h2 class="bg-white opacity-75 mt-3" style="font-size: 65px;">Will Knock Your Socks Off</h2>
            </div>
        </div>
    </div>
</div>